/*---------------------*\
| 1. FONTS 				|
\*-------------------- */

/* IBMPlex Font */
@font-face {
  font-family: "IBMPlexMono";
  src: url("../font/IBMPlexMono-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../font/IBMPlexMono-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../font/IBMPlexMono-ThinItalic.otf") format("otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../font/IBMPlexMono-ThinItalic.otf") format("otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../font/IBMPlexSans-Light.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../font/IBMPlexSerif-Light.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../font/IBMPlexSerif-Thin.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../font/IBMPlexSerif-ThinItalic.otf") format("otf");
  font-weight: 200;
  font-style: italic;
}

/*------------------------*\
| 1. GLOBAL STYLES/RESETS  |
\*------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-base: "IBMPlexMono", serif;
  --ff-second: "IBMPlexSans", sans-serif;
  --fw-regular: 400;
  --ff-light: 300;
  --bg-clr: #f8fafc;
  --sc-clr: rgba(0,0,0,.55);
  --link-clr: steelblue;
  --accent-clr: #a44f23;
  --bg-clr-2: rgb(103,93,72, .8);

  --max-width: 1200px;
  --screen-padding: 3rem;

  --profile-text-width: 50%;
  --profile-text-size: auto;

  --font-size-header: 20px;
}

html {
  scroll-behavior: smooth;

}

h1,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

body {
  background-color: var(--bg-clr);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(1200px, 100%);
  padding: var(--screen-padding);
  margin: 0 auto;
}


/*------------------------*\
| 2. BASE STYLES 		   |
\*------------------------*/

header {
  display: flex;
  align-items: center;
  margin-bottom: var(--screen-padding);
  flex-wrap: wrap;
}

.nav {
  flex-grow: 1;
}
.nav__links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--font-size-header)
}

.links__item {
	padding: .25rem .25rem;
}

.logo {
  width: max(40%, 26rem);
  margin: auto;
}

.logo__link > img {
  width: 100%;
  opacity: 0.7;
}

.links__link {
  font-family: var(--ff-base);
  text-transform: uppercase;
  color: var(--sc-clr);
}

.links__link:hover {
  color: var(--link-clr);
}

.active {
  color: var(--accent-clr);
}


/*---------------------*\
| 4. PAGES
\*-------------------- */

/* Event Pages */

.event-list__event {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--ff-base);
  position: relative;
  margin-bottom: 4rem;
}

.event-list__event::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--sc-clr);
  left: 0;
  opacity: 0.5;
  right: 0;
  bottom: -2rem;
}

.event__image-wrapper {
  position: relative;
  display: inline-block;
  width: min(100%, 400px);
  margin: auto;
  margin-bottom: 2rem;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0, .7);
}

.event__image {
  width: 100%;
  display: block;
  position: relative;
  z-index: -1;
}

.event__text-wrapper {
  width: min(100%, 400px);
  margin: auto;
}

.event__title {
  font-weight: var(--fw-regular);
  color: #333;
  color: var(--accent-clr);
  opacity: 0.7;
  line-height: 1.2rem;
  margin-top: 0;
}

.event__date {
  text-transform: uppercase;
  text-align: center;
}

.event__location {
  font-size: 0.8em;
  margin-bottom: 2em;
  color: var(--sc-clr);
}

.event__description {
  line-height: 1.6rem;
  margin-bottom: 2rem;
  font-size: 0.9em;
  font-family: var(--ff-second);
  font-weight: var(--ff-light);
  color: #333;
}

.event__button:hover {
  opacity: 0.4;
}

.event-image__date {
  position: absolute;
  top: 1rem;
  bottom: 75%;
  left: 75%;
  right: 1rem;
  background-color: #333;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  padding: 0.1em;
}

.event-date__month-start {
  text-transform: uppercase;
  color: white;
  opacity: 0.9;
  font-size: 0.8rem;
  margin: auto;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.event-date__day-start {
  font-size: 1rem;
  margin: auto;
  color: white;
}

.event-date__date-end {
  color: white;
  font-size: 0.7rem;
  margin: auto;
  text-transform: uppercase;
}

.event__active-indicator {
  position: absolute;
  right: 50%;
  top: 0;
  left: 50%;
  width: 1px;
  bottom: 0;
  transform: rotate(45deg);
  background-color: white;
  visibility: hidden;
}

/* Gallery Page */

.image-grid {
  --auto-grid-min-size: 14rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}


.image-grid__date-divider {
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-divider__date {
	position: relative;
	font-family: var(--ff-base);
	font-weight: var(--fw-light);
	color: var(--sc-clr)
}

.date-divider__date::after {
	content: "";
	position: absolute;
	width: min(calc(100vw - calc(2 * var(--screen-padding) + 1rem) - 100%), calc(var(--max-width) - calc(2 * var(--screen-padding) + 1rem) - 100%));
	height: 1px;
	background-color: rgba(0,0,0,.2); 
	top: 50%;
	left: calc(1rem + 100%);
}
.date-selector__wrapper {
	display: flex;
}
	
.date-select__list {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	/*box-shadow: inset 0 0 2px 0 rgba(0,0,0,.6);*/
	border-radius: 10px;
}

.date-select-list__elem {
	margin: 0 .5rem;
	font-family: var(--ff-base);
	font-weight: light;
	font-style: italic;
	color: rgba(0,0,0,.6);
	font-size: .8em

}

.date-select-list__elem:hover {
	color: #a44f23;
}

.date-select-list__elem--divider {
	font-style: normal;
}

.image {
  width: 100%;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.image:hover {
  opacity: 0.5;
}


/* Profile Page */

.profile-wrapper {
	background: var(--bg-clr-2);
}

.first-section {
	position: relative;
	background-image: url('/static/img/wip.jpg');
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-size: contain;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
	padding-bottom: 127.9%;
	background-color: #675D48;
}

.first-section__text {
	background-color: var(--bg-clr);
	width: var(--profile-text-width);
	font-family: var(--ff-second);
	font-weight: 200;
	color: var(--sc-clr); 
	line-height: 1.6;
	padding: 1rem;
	border-color: var(--bg-clr);
	box-shadow: 0 0 2px 0 black;
	font-size: var(--profile-text-size);
}

.first-section__text--left {
	justify-content: left;
	float: left;
	margin-top: 10%;
	border-radius: 0 .5rem .5rem 0;
}

.first-section__text--right {
	margin-top: 60%;
	float: right;
	margin-right: -1px;
	text-align: right;
	border-radius: .5rem 0 0 .5rem;
}

.second-section {
	width: 100%;
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.second-section__text {
	margin: 2em 15%;
	font-weight: 200;
	color: var(--bg-clr);
	font-family: var(--ff-second);
	line-height: 1.6;
	font-size: var(--profile-text-size)
}

.second-section__img {
	width: 100%;
	margin-bottom: 2em;
}

.third-section {
	display: flex;
	justify-content: space-around;
	padding-bottom: 5rem;
	margin: 0 6rem;
}

.btn {
  height: 80px;
  line-height: 40px;  
  width: 80px;  
  font-family: var(--ff-second);
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 4px solid white;
}


/* Index Page */

.book__container {
  z-index: 1;
  perspective: 3000px;
  --transition-dur: 0.5s;
}

.book__container .book {
  position: relative;
  display: block;
  width: min(calc(100% - 2*var(--screen-padding)), 400px);
  height: min(calc(100vw * 1.5), 550px);
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
  font-family: "FiraSans", sans-serif;
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  font-weight: 400;
  color: #2b2b2b;
  transform-style: preserve-3d;
  transition: transform var(--transition-dur), box-shadow var(--transition-dur);
  cursor: pointer;
}

.book__container .book:hover {
  transform: rotate3d(0, 1, 0, 35deg);
  box-shadow: 13px 8px 6px rgba(151, 146, 153, 0.6);
}

.book__container .book > div,
.book__container .front > div {
  display: block;
  position: absolute;
}

.book__container .front {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transition: transform var(--transition-dur);
  transform: translate3d(0, 0, 20px);
  z-index: 10;

}

.book__container .front > div {
  width: 400px;
  height: 550px;
}

.book__container .left-side {
  width: 40px;
  left: -20px;
  height: 550px;
  background-image: url('/static/img/spine.jpg');
  background-size: cover;
  transform: rotate3d(0, 1, 0, -90deg);
}

.author {
  font-family: var(--ff-base);
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: 0.8;
}

.author:hover {
  color: var(--link-clr);
}

.book__container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.book__container .front:after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.book__container .cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.book__container h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  transform-origin: 0 0;
  transform: rotate(90deg) translateY(-40px);
}

.cover {
  background-image: url('/static/img/background.png');
  background-size: cover;
}

.left-side h2 span {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:hover {
  color: var(--link-clr);
}

.front-title:hover {
  color: var(--link-clr);
}

/* Contact Page */

.profile-banner__image {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.page-wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
	align-items: center;
	position: relative;
}

form {
	width: 45%;
	padding: 1em;
}


label {
	font-family: var(--ff-base);
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	margin: 0 1rem 1rem 1rem;
	letter-spacing: 1.4px;
}

input, textarea {
	border: 1.5px solid black; 
	margin-top: .5rem;
	padding: .3rem;
	font-family: var(--ff-base);
}

.form__name-wrapper {
	display: flex;
	justify-content: space-between;
}

.form-label__name{
	width: 40%;
}

.contact-page__image-wrapper {
	width: 55%;
}

.contact-page__image {
	width: 100%;
}

.form__submit-button {
	color: black;
	background-color: white;
	text-transform: lowercase;
	text-align: center;
	letter-spacing: 1.4px;
	width: 5rem;
	height: 2rem;
	margin: 0 1rem 1rem 1rem;
	font-size: 1rem;
	transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}


.form__submit-button:hover {
	color: white;
	background-color: black;

}

/*---------------------*\
| 3. Media Queries 
\*-------------------- */

@media all and (max-width: 500px) {  
  :root {  
	--screen-padding: 1.5rem;
	--profile-text-width: 100%;
	--profile-text-size: 12px;
	}
}

@media all and (max-width: 860px) {
	.contact-page__image-wrapper {
		width: 100%;
		position: absolute;
		z-index: -1;
		opacity: .3;
	}

	form {
		width: 100%;
		padding: 0;
		margin-top: 4rem;
	}
}
