<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{% block title %}{% endblock %} servane briand </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block styles %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body>
    <div class="container">
		<header>
		<!-- navbar -->
			<div class="logo">
				<a class="logo__link" href="/"><img src="{{url_for('static', filename='img/nameheader.svg')}}"/></a>
			</div>
			<nav class="nav"> 
				<ul class="nav__links">
					</li>
					<li class="links__item"><a class="links__link {{ 'active' if active_page == 'gallery' else '' }}" href="/gallery">works</a></li>
					<li class="links__item"><a class="links__link {{ 'active' if active_page == 'exhibits' else '' }}"href="/exhibits">exhibits</a></li>
					<li class="links__item"><a class="links__link {{ 'active' if active_page == 'profile' else '' }}" href="/profile"> profile </a></li>
					<li class="links__item"><a class="links__link {{ 'active' if active_page == 'contact' else '' }}" href="/contact"> contact </a></li>
				</ul>
			</nav>
	</header>

	<!-- content -->
	<section class="content-wrapper">
	  {% block content %}{% endblock %}
	</section>
	</div>
      {% block scripts %}{% endblock %}
 </body>
</html>
