{% extends 'base.html' %}
{% set active_page = "contact" %}
{% block description %} Contact Servane Briand {% endblock %}

{% block content %}
<div class="page-wrapper">
<form
  action="https://formspree.io/xvowrged"
  method="POST"
>
  <div class="form__name-wrapper">
	  <label class="form-label__name form-label__name--first">
		FIRST NAME 
		<input class="form-input__name form-input__name--last " type="text" name="first-name">
	  </label>

	  <label class="form-label__name form-label__name--last">
		LAST NAME
		<input class="form-input__name form-input__name--last" type="text" name="last-name">
	  </label>
  </div>
  <label class="form-label__email">
    EMAIL
    <input class="form-input__email" type="email" name="_replyto" required>
  </label>
  <label class="form-label__message">
    MESSAGE 
    <textarea class="form-input__message" rows="8" name="message" required minlength="20"> </textarea>
  </label>
  <input type="text" name="_gotcha" style="display:none" />
  <input class="form__submit-button"type="submit" value="submit">
</form>
<div class="contact-page__image-wrapper">
	<img class="contact-page__image" src="{{url_for('static', filename='img/other/medusa.jpg')}}"></img>
</div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/exhibitDate.js') }}"></script>
{% endblock %}
