{% extends 'base.html' %}
{% set active_page = "exhibits" %}
{% block description %} Servane Briand Exhibits {% endblock %}

{% block content %}
<div class="event-list">
{% for exhibit in exhibits %}
    <div class="event-list__event">
		<div class="event__image-wrapper">
			<a class="event__link" href="{{ exhibit.event_link }}" target="_blank">
			<img alt="image of {{exhibit.title}}" class="event__image" src="{{ url_for('static', filename='img/exhibits/'+exhibit.event_image) }}" />
			</a>
			<div class="event-image__date">
				<p class="event-date__month-start"> {{dates[loop.index0][0].strftime("%b")}}</p>
				<p class="event-date__day-start"> {{dates[loop.index0][0].strftime("%d")}}</p>
				<p class="event-date__date-end"> to {{dates[loop.index0][1].strftime("%b %d")}}</p>
				<div class="event__active-indicator" data-timestamp="{{dates[loop.index0][2]}}"></div>
			</div>
		</div>
		<div class="event__text-wrapper">
			<a class="event__link" href="{{ exhibit.event_link }}" target="_blank"> <h2 class="event__title"> {{exhibit.title}} </h2> </a>
			<p class="event__date"> {{exhibit.start_date}} - {{exhibit.end_date}} </p>
			<p class="event__location"> {{exhibit.location}} </p>
			<div class="event__description"> 
				{{ exhibit.html|safe }} 
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/exhibitDate.js') }}"></script>
{% endblock %}
