{% extends 'base.html' %}
{% set active_page = "landing" %}
{% block description %} Servane Briand: Artist, Bookbinder, Photographer {% endblock %}

{% block styles %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.css') }}"/>
{% endblock %}

{% block content %}
<div class="book__container">
  <div class="book">
    <div class="front">
      <div class="cover">
        <p class="front-title">Book Artist</p>
        <p class=author>Servane Briand</p>
      </div>
    </div>
    <div class="left-side">
      <h2>
        <span>Book Binder</span>
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
