{% extends 'base.html' %}
{% set active_page = "landing" %}
{% block description %} Servane Briand: Artist, Bookbinder, Photographer {% endblock %}

{% block styles %} 
{% endblock %}

{% block content %}
<div class="banner__wrapper">
	<div class="banner__grid"/>
		{% for i in range(1, 34) %}
			<div class="banner__cell">
				<img class="banner" src={{'static/img/banner/'+i|string+'.jpg'}}>
				<img class="banner-work" src={{'static/img/banner-work/'+i|string+'.jpg'}}>
			</div>
		{% endfor %}
	</div>
</div>
<div class="categories">
	<a class="category__link" href="/gallery"> Bookmaker </a>
	<a class="category__link" href="/gallery/#prints"> Printmaker <a>
</div>

<hr class="index-page__divider"/>

<div class="quote__wrapper">
<p class="quote-text"></p>
<p class="quote-author"></p>
</p>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/crossFade.js') }}"></script>
  <script src="{{ url_for('static', filename='js/randomQuote.js') }}"></script>
{% endblock %}
