{% extends 'base.html' %}
{% block description %} Servane Briand - Making Sense {% endblock %}

{% block content %}
<div class="audio-info">
    <p> Listen to piece name by 
    <a href="https://example.com" class="audio-author" target="_blank" rel="noopener noreferrer">John Doe</a>
    from the Making Sense series.
    </p>
</div>

<div class="audio-player__wrapper">
    <audio controls class="audio-player">
        <source src="{{ url_for('static', filename='audio/gl' + part_number + '.m4a') }}" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>
</div>

<div class="return-arrow__wrapper">
    <a class="return-arrow__link" href="/gallery/making_sense/"><span class="return-arrow">&larr;</span> Back to Making Sense</a>
</div>
{% endblock %}
