{% extends 'base.html' %}
{% block description %} Servane Briand Exhibits {% endblock %}

{% block content %}
<h1 class="print-page__title">{{prin.title}}</h1>
<img class="print__image print__image--main" src="{{url_for('static', filename='img/prints/'+prin.image_directory+'/'+prin.image_directory+'.jpg')}}" alt="main image for {{prin.title}}" />
<div class="print__details"> 
	{% if prin.process %}
		<h2 class="print-detail__header"> Process </h2>
		<p class="print-detail"> {{prin.process}}</p>
	{% endif %}
	{%if prin.materials %}
		<h2 class="print-detail__header"> Materials </h2>
		<p class="print-detail"> {{prin.materials}}</p>
	{% endif %}

	{%if prin.dimensions %}
	<h2 class="print-detail__header"> Dimensions </h2>
	<p class="print-detail"> {{prin.dimensions}} </p>
	{% endif %}

	{% if prin.location %}
	<h2 class="print-detail__header"> Location </h2>
	<p class="print-detail"> {{prin.location}} </p>
	{% endif %}

	{% if prin.edition%}
	<h2 class="print-detail__header"> Edition </h2>
	<p class="print-detail"> {{prin.edition}} </p>
	{% endif %}

	{% if prin.collaborators %}
	<h2 class="print-detail__header"> Collaborators </h2>
	<ul class="print-detail print-detail--list">
	{% for collab in prin.collaborators %}
	<li class="print-detail__list-item">
		{% if collab.website %}
		<a class="print-detail__collab-name" href="{{collab.website}}" target="_blank">{{collab.name}}</a>: {{collab.contribution}}
	    {% else %}
		<span class="print-detail__collab-name">{{collab.name}}</span>: {{collab.contribution}}
		{% endif%}
	</li>
	{% endfor %}
	</ul>
	{% endif %}
</div>
<div class="print__description" />
		{{prin.html|safe}}
</div>
<div class="return-arrow__wrapper">
	<a class="return-arrow__link"href="/gallery#prints"><span class="return-arrow">&larr;</span> Back to Prints</a>
</div>
{% endblock %}
