{% extends 'base.html' %}
{% set active_page = "profile" %}
{% block description %} Servane Briand Profile {% endblock %}

{% block content %}
<div class="profile-wrapper">
	<div class="first-section">
		<p class="first-section__text first-section__text--left"> Living in Silicon Valley and  making artists’ books is exhilarating. When some may  blame the digital revolution  for the demise of the book, one could also argue that it allows for the extraordinary vitality of book arts. I am an  enthusiastic reader and have always loved books. This naturally led me to want to make my own.</p>
		<p class="first-section__text first-section__text--right"> This naturally led me to  want to make my own. In creating a book, I enjoy the ability to work from these different perspectives and working in media as diverse as papermaking, printmaking, bookbinding.
	</div>
	<div class="second-section">
		<p class="second-section__text"> In pursuing the book as art object. I am also interested in what happens when the object gets manipulated. The reader/viewer invents yet another narrative. He or she tells a story and while I may not capture it. I am curious at what it is and what if? I like to explore what happens in this territory. I cherish our ability to be moved by works of art and I love witnessing it. </p>
		<img class="second-section__img" src="{{url_for('static', filename='/img/birb.png')}}"></img>
		<img class="second-section__divider" src="{{url_for('static', filename='/img/bookedge.png')}}"></img>
	</div>

	<div class="third-section">
		<button class="btn">cv</button>
		<button class="btn">in</button>
	</div>
</div>

{% endblock %}
