{% extends 'base.html' %}
{% block description %} Servane Briand Exhibits {% endblock %}

{% block content %}
<h1 class="project__title">{{project.title}}</h1>
<img 
	class="project__image project__image--main"
	alt="main image for {{project.title}}" 
	src="/{{images[0]}}"
	srcset="/{{images[0][:-4]}}-sm.jpg 480w, /{{images[0][:-4]}}-md.jpg 640w, /{{images[0][:-4]}}-lg.jpg 1024w"
	onerror="this.onerror=null;this.srcset=''" 
/>

<div class="project-content__wrapper">
<div class="project__details"> 
	{% if project.binding %}
		<h2 class="project-detail__header"> Binding </h2>
		<p class="project-detail"> {{project.binding}}</p>
		{% if project.finebinding %}
			<h3 class="project-detail__sub-header"> details </h2>
			<ul class="project-detail project-detail--list">
			{% if project.finebinding[0].author%}
			<li class="project-detail__list-item">
				<b>author</b>: {{project.finebinding[0].author}}
			</li>
			{% endif %}
			{% if project.finebinding[0].illustrator %}
			<li class="project-detail__list-item">
				<b>illustrator</b>: {{project.finebinding[0].illustrator}}
			</li>
			{% endif %}

			{% if project.finebinding[0].press %}
			<li class="project-detail__list-item">
				<b>press</b>: {{project.finebinding[0].press}}
			</li>
			{% endif %}
			{% if project.finebinding[0].year %}
			<li class="project-detail__list-item">
				<b>year</b>: {{project.finebinding[0].year}}
			</li>
			{% endif %}
			</ul>
		{% endif %}
	{% endif %}

	{% if project.collaborators %}
	<h2 class="project-detail__header"> Collaborators </h2>
	<ul class="project-detail project-detail--list">
	{% for collab in project.collaborators %}
	<li class="project-detail__list-item">
		{% if collab.website %}
		<a class="project-detail__collab-name" href="{{collab.website}}" target="_blank">{{collab.name}}</a>: {{collab.contribution}}
	    {% else %}
		<span class="project-detail__collab-name">{{collab.name}}</span>: {{collab.contribution}}
		{% endif%}
	</li>
	{% endfor %}
	</ul>
	{% endif %}

	{%if project.dimensions %}
	<h2 class="project-detail__header"> Dimensions </h2>
	<p class="project-detail"> {{project.dimensions}} </p>
	{% endif %}

	{% if project.edition%}
	<h2 class="project-detail__header"> Edition </h2>
	<p class="project-detail"> {{project.edition}} </p>
	{% endif %}
	{%if project.materials %}
		<h2 class="project-detail__header"> Materials </h2>
		<p class="project-detail"> {{project.materials}}</p>
	{% endif %}
	{% if project.location %}
	<h2 class="project-detail__header"> Location </h2>
	<p class="project-detail"> {{project.location}} </p>
	{% endif %} 
</div>
<div class="project__description" />
		{{project.html|safe}}
</div>
</div> 
<section id="images">
	{% if project.video %}
	<iframe height="315" class="project__video" src="{{project.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	{% endif %}
	{% for image in images[1:] %}
	<img 
		class="project__image"
		alt="image {{loop.index}} for {{project.title}}" 
		src="/{{image}}"
		srcset="/{{image[:-4]}}-sm.jpg 480w, /{{image[:-4]}}-md.jpg 640w, /{{image[:-4]}}-lg.jpg 1024w"
		onerror="this.onerror=null;this.srcset=''" 

	/>
{% endfor %}
</section>
<div class="return-arrow__wrapper">
	<a class="return-arrow__link"href="/gallery#{{project.created if project.created|int > 2016 else 'archive'}}"><span class="return-arrow">&larr;</span> Back to Projects</a>
</div>

{% endblock %}
